.scala-build/
.bsp/
.metals/

.vscode/
.idea/

.DS_Store

*.swp
*.tmp
*~

layoutz-hs/dist-newstyle/

layoutz-ts/node_modules/
layoutz-ts/dist/

layoutz-ocaml/_build/
layoutz-ocaml/*.install
layoutz-ocaml/.merlin
layoutz-ocaml/_opam/
